.HONE{
    display: flex;
    justify-content: center;
    font-family: "Comic Neue", cursive;
    background-color: red;
    border: 5px solid black;
   
}
 
.Fail{
    height: 10rem;
    margin-top: 150px;
    border: 5px solid;
}

.DIE{
    border: 5px solid;
    margin-left: 50px;
    margin-right: 5px;
}
.Failed{
    border: 5px solid;
    margin-left: 50px;
}

.Baddie{
    height: 12rem;
    margin-left: 50px;
    border: 5px solid;
}

.Grades{
    display: flex;
    justify-content: center;
    background-color: red;
    border: 5px solid ;
    
    
}

.HTWO{
    background-color: red;
    border: 5px solid;
    

}
a{
    display: flex;
    justify-content: center;
}

.Conclusion {
    background-color: red;
    position: absolute;
    border: 5px solid;
    display: inline-block;
    margin-bottom: 50%;
    margin-top: 5px;
    padding-bottom: 10%;
    margin-right: 5px;
    
}

p{
    font-family: "Comic Neue", cursive;
    font-size: 20px;
    

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: red;
    border: 5px solid black;
    border-radius: 13%;
    font-family: "Comic Neue", cursive;
}

h2{
    font-family: "Comic Neue", cursive;
}

h3{
    font-family: "Comic Neue", cursive;
}